body {
  font-size: 100%;
  height: 100%;
}
.title {
  font-family: 'Impact, Charcoal, sans-serif';
  padding-top: 3%;
  text-align: center;
  font size 2.5em;
  background-color: #E5F6FF;
}

.background_image {
  width: 100%;
  height: 5%;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Center-Right Text */
.centered-right {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate();
}

.just_pad {
  padding-top: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.picmap {
  padding-top: 5%;
  padding-left: 25%;
  padding-right: 25%;
  width: 100%;
  padding-bottom: 5%;
  height: 75%;
  border-radius: 10px%;
}

.location_title {
  text-align: center;
  padding-top: 25%;
  padding-bottom: 5%;
}

.pic1 {
  height: auto;
  width: 40%;
  padding-right: 10%;
  padding-top: 5%;
}

.pic2 {
  height: auto;
  width: 30%;
  padding-top: 10%;
}

.pic3 {
  height: auto;
  width: 45%;
  padding-top: 15%;
  padding-right: 10%;
}

.imgnexttitle {

  text-align: center;
  padding-top: 7%;
}

.imgnext {
  text-align: center;
  padding-top: 3%;
}

.navlinkright {
  text-align: right;
  padding-right: 5%;
  color: white;
}

.navlinkright a hover {
  color: grey;
  padding-right: 5%;
  text-align: right;
}

.imgnext2 {
  text-align: center;
  padding-top: 5%;
  padding-right: 7%;
}

.imgnext2title {
  text-align: center;
  padding-top: 20%;
  padding-right: 7%;
}

.imgnext3title {
  text-align: center;
  padding-top: 20%;
}

.parallax {
  /* The image used */
  background-image: url("pictures/DSC053291_upscaled_image_x4.jpg");
  /* Full height */
  height: 550px;
  /* Create the parallax scrolling effect */
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close  */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.navbar-brand {
  font-family: 'Impact, Charcoal, sans-serif';
}

/* Center-Right-Bottom Text */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 8%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0; /*makes left = left side of the screen while changing it to right will make it go to the right*/
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 50px;
}

.sidenav2 {
  width: 5%;
  position: fixed;
  z-index: 1;
  top: 5%;
  right: 0px;
  background: black;
  overflow-x: hidden;
  padding: 8px 0;
  height: 100%;
}

.eventitle1 {
  text-align: center;
  color: white;
  top: 5%;
  padding: 1% 1% 2% 1%;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 0px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  text-align: center;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #818181;
}

.nav-link {
  text-align: center;
  color: white;
}

.nav-link a:hover {
  color: grey;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.container {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 10%;
  padding-left: 10%
}

.avatar {
  align-items: center;
  width: 25%;
  height: auto;
}

.locationofbutton {
  right: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.button {
  background-color: grey;
  border: none;
  color: green;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.logbutton {
  right: 0;
}



.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: Black;
  color: white;
  text-align: center;
}
